.UBPD5Anos-footer{
  position: relative;
  background-color: $violeta;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  padding: 36px calc(50vw - 600px);
  @include tablet{
    width: 90vw;
    padding: 5vw;
  }
  @include mobile{
    width: 90vw;
    padding: 5vw;
    flex-direction: column-reverse;
  }
  &-logo{
    width: 250px;
    padding-right: 50px;
    @include tablet{
      width: 18vw;
      padding-right: 3vw;
    }
    @include mobile{
      display: block;
      width: 70vw;
      margin: 0 auto;
      padding-right: 0;
      padding-bottom: 3vw;
      border-bottom: solid $blanco .2vw;
    }
  }
  &-content{
    width: 900px;
    @include tablet{
      width: 68vw;
    }
    @include mobile{
      width: 90vw;
    }
    &-text{
      font-family: $sans;
      color: $blanco;
      font-weight: $regular;
      font-size: var(--fuente-1);
      padding-bottom: var(--fuente-1);
      line-height: 1.2;
      @include tablet{
        font-size: var(--fuente0_tablet);
        padding-bottom: var(--fuente0_tablet);
      }
      @include mobile{
        text-align: center;
        font-size: 3vw;
        padding-bottom: var(--fuente0_mobile);
      }
    }
    &-line{
      background-color: $blanco;
      width: 100%;
      height: 1px;
      margin: 12px 0;
      @include tablet{
        height: .1vw;
        margin: 1vw 0;
      }
      @include mobile{
        display: none;
      }
    }
    &-rights{
      display: block;
      width: 120px;
      @include tablet{
        width: 12vw;
      }
      @include mobile{
        width: 30vw;
        margin: 0 auto;
      }
    }
  }
  &-social{
    position: absolute;
    bottom: 40px;
    right: calc(50vw - 600px);
    @include tablet{
      bottom: 5vw;
      right: 5vw;
    }
    @include mobile{
      position: static;
      padding-top: 5vw;
    }
    &-text{
      text-align: right;
      font-family: $sans;
      color: $blanco;
      font-weight: $regular;
      font-size: var(--fuente-1);
      padding-bottom: var(--fuente-1);
      @include tablet{
        font-size: var(--fuente0_tablet);
        padding-bottom: var(--fuente0_tablet);
      }
      @include mobile{
        text-align: center;
        font-size: var(--fuente-1_mobile);
        padding-bottom: var(--fuente0_mobile);
      }
    }
    &-icons{
      display: flex;
      flex-direction: row;
      &-element img{
        width: 30px;
        margin-left: 8px;
        @include tablet{
          width: 2.7vw;
          margin-left: 0.7vw;
        }
        @include mobile{
          width: 8vw;
          margin: 0 1.5vw;
        }
      }
    }
  }
}