footer.UBPD5Anos-footer
  .UBPD5Anos-footer-social 
    p.UBPD5Anos-footer-social-text Encuéntranos también en
    ul.UBPD5Anos-footer-social-icons
      a(href="https://www.instagram.com/ubpdcolombia/", target="_blank")
        li.UBPD5Anos-footer-social-icons-element
          img(src="https://ubpdbusquedadesaparecidos.co/wp-content/especiales/5anosubpd/assets/07Inst2.svg", alt="Instagram")
      a(href="https://www.facebook.com/ubpdcolombia", target="_blank")
        li.UBPD5Anos-footer-social-icons-element
          img(src="https://ubpdbusquedadesaparecidos.co/wp-content/especiales/5anosubpd/assets/08Fb2.svg", alt="Facebook")
      a(href="https://soundcloud.com/user-253924701", target="_blank")
        li.UBPD5Anos-footer-social-icons-element
          img(src="https://ubpdbusquedadesaparecidos.co/wp-content/especiales/5anosubpd/assets/09SndCld.svg", alt="Soundcloud")
      a(href="https://www.youtube.com/channel/UC1iamDhb0g67gBdWRf7pEVA/videos", target="_blank")
        li.UBPD5Anos-footer-social-icons-element
          img(src="https://ubpdbusquedadesaparecidos.co/wp-content/especiales/5anosubpd/assets/10Ytb.svg", alt="YouTube")
      a(href="https://twitter.com/ubpdcolombia", target="_blank")
        li.UBPD5Anos-footer-social-icons-element
          img(src="https://ubpdbusquedadesaparecidos.co/wp-content/especiales/5anosubpd/assets/11Twtt2.svg", alt="Twitter")
  picture
    source(srcset="https://ubpdbusquedadesaparecidos.co/wp-content/uploads/2021/12/Logo-UBPD-Horizontal-768x159.png" media="(max-width: 600px)")
    source(srcset="https://ubpdbusquedadesaparecidos.co/wp-content/especiales/5anosubpd/assets/logo_ubpd_blanco_ver.svg" media="(min-width: 600px)")
    img.UBPD5Anos-footer-logo(src="https://ubpdbusquedadesaparecidos.co/wp-content/especiales/5anosubpd/assets/logo_ubpd_blanco_ver.svg")
  .UBPD5Anos-footer-content
    p.UBPD5Anos-footer-content-text Dirección general: Luz Marina Monzón / Coordinación de la Oficina Asesora de Comunicaciones y Pedagogía: Alejandra Bernal / Gestión del proyecto: Oficina de Cooperación Internacional / Coordinación del proyecto y desarrollo de contenidos: Paola Camargo / Ilustración y diseño digital: Lizeth K. Sanabria / Desarrollo de guías pedagógicas: Karen Díaz / Diseño gráfico de guías pedagógicas: Ana María Rubio /  Transcripción de entrevistas y conceptualización de guiones serie radial: Fernando Murcia / Edición de video: Daniel Quintero / Producción sonora: David Rodríguez - David Torres / Edición web: José Puentes / Desarrollo web: Juan Diego Mesa / Redes sociales: Salomé de la Espriella
    .UBPD5Anos-footer-content-line 
    p.UBPD5Anos-footer-content-text Todos los Derechos Reservados.
    p.UBPD5Anos-footer-content-text UBPD – Unidad de Búsqueda de Personas Dadas por Desaparecidas. 2023
    img.UBPD5Anos-footer-content-rights(src="https://ubpdbusquedadesaparecidos.co/especiales/busqueda-de-los-angulo-castaneda/assets/credits.svg")
 
script(src="https://ubpdbusquedadesaparecidos.co/wp-content/especiales/5anosubpd/js/UBPD_scripts.js")
if items[active].frases
  script. 
    UBPDinterval = window.setInterval(function(){			UBPDnextSlide('UBPD5Anos-phrases-container', 'UBPD5Anos-phrases-element');}, 20000);