section.UBPD5Anos-menu
  h2.UBPD5Anos-menu-title.UBPD5Anos-menu-title-desktop Nues- tras bases
  h2.UBPD5Anos-menu-title.UBPD5Anos-menu-title-mobile Nuestras bases
  .UBPD5Anos-menu-navigation 
    p.UBPD5Anos-menu-navigation-caption Este balance de los primeros cinco años de la UBPD está dividido en varios capítulos con distintas voces y recursos. Dale clic a cada imagen para acceder a cada uno:
    .UBPD5Anos-menu-navigation-grid 
      a.UBPD5Anos-menu-navigation-grid-element(href="https://ubpdbusquedadesaparecidos.co/especiales/balance-polifonico-participacion/") 
        picture
          source(srcset="https://ubpdbusquedadesaparecidos.co/wp-content/especiales/5anosubpd/assets/img/MnMvl-01.png" media="(max-width: 600px)")
          source(srcset="https://ubpdbusquedadesaparecidos.co/wp-content/especiales/5anosubpd/assets/img/MnDsktp-01.png" media="(min-width: 600px)")
          img(src="https://ubpdbusquedadesaparecidos.co/wp-content/especiales/5anosubpd/assets/img/MnDsktp-01.png")
        p Participación
      a.UBPD5Anos-menu-navigation-grid-element(href="https://ubpdbusquedadesaparecidos.co/especiales/balance-polifonico-humanitario/") 
        picture
          source(srcset="https://ubpdbusquedadesaparecidos.co/wp-content/especiales/5anosubpd/assets/img/MnMvl-02.png" media="(max-width: 600px)")
          source(srcset="https://ubpdbusquedadesaparecidos.co/wp-content/especiales/5anosubpd/assets/img/MnDsktp-02.png" media="(min-width: 600px)")
          img(src="https://ubpdbusquedadesaparecidos.co/wp-content/especiales/5anosubpd/assets/img/MnDsktp-02.png")
        p Carácter Humanitario y extrajudicial
      a.UBPD5Anos-menu-navigation-grid-element(href="https://ubpdbusquedadesaparecidos.co/especiales/balance-polifonico-metodologia/") 
        picture
          source(srcset="https://ubpdbusquedadesaparecidos.co/wp-content/especiales/5anosubpd/assets/img/MnMvl-03.png" media="(max-width: 600px)")
          source(srcset="https://ubpdbusquedadesaparecidos.co/wp-content/especiales/5anosubpd/assets/img/MnDsktp-03.png" media="(min-width: 600px)")
          img(src="https://ubpdbusquedadesaparecidos.co/wp-content/especiales/5anosubpd/assets/img/MnDsktp-03.png")
        p La metodología de búsqueda